<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <blockquote class="chat" *ngIf="TouslesMessages" #scrollMe style="overflow: scroll; height: xyz;">
    <p [ngClass]="[userid == message.userid ? 'me' : 'them']" *ngFor="let message of TouslesMessages">
      <b style="color:white;">  {{ message.userid }} :</b> {{  message.message }}
    </p>
  </blockquote>
  <br/>



  <form class="chat-window" (submit)="send()">
  <div class="centered">
    <div class="group">
  	<input [(ngModel)]="message" ng-trim="false" id="message" name="message" class="chat-window-message input" name="chat-window-message" type="text" autocomplete="off" autofocus />
    <div class="bar"></div>
    </div>
  </div>
    </form>
