<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <ul class="chat-thread" *ngIf="TouslesMessages" #scrollMe style="overflow: scroll; height: xyz;">
    <li *ngFor="let message of TouslesMessages">
        <b style="color:white;">  {{ message.userid }} :</b> {{  message.message }}
    </li>
  </ul>

  <form class="chat-window" (submit)="send()">
  	<input [(ngModel)]="message" id="message" name="message" class="chat-window-message" name="chat-window-message" type="text" autocomplete="off" autofocus />
  </form>
