<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <blockquote class="chat" *ngIf="TouslesMessages" #scrollMe style="overflow: scroll; height: xyz;">
    <p [ngClass]="[userid == message.userid ? 'me' : 'them']" *ngFor="let message of TouslesMessages">
      <b style="color:white;">  {{ message.userid }} :</b> {{  message.message }}
    </p>
  </blockquote>
  <br/>

  <form class="chat-window" (submit)="send()">
  	<input [(ngModel)]="message" id="message" name="message" class="chat-window-message" name="chat-window-message" type="text" autocomplete="off" autofocus />
    <input class="btn" type="submit" value="Valider">
  </form>
  <br/>
<p> ma futur notif :)</p>
